.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.52),
      rgba(19, 37, 117, 0.73)
    ),
    url("./assets/bg.jpg");

  width: 80%;
  height: 436px;
  background-size: cover;
}

.NavBar {
  color: aliceblue;
  font-size: 50%;
}

.NavLinks {
  display: inline-block;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0;
  transition: 0.2s ease-in-out;
  visibility: visible;
}

.Link {
  margin-right: 1%;
  list-style: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 100;
  font-size: 100%;
}

.Link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 47, 255);
  transition: 0.2s ease-in-out;

  font-size: 110%;
}

.container {
  display: inline-block;
  width: 30%;
  position: relative;
}

.logInContainer {
  background-color: hsl(208, 100%, 97%, 0.3);
  position: fixed;
  left: 20%;
  margin: 7% 0%;
  padding: 4% 2%;
}

.signUpContainer {
  visibility: hidden;
  background-color: aqua;
  position: fixed;
  margin: 5% 20%;
}

.regForm {
  /* background-color: aqua; */
}

.regFormTitle {
  font-size: 130%;
  position: relative;
  bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
}

.regInput {
  border: none;
  background: white;
  text-align: center;
  border-radius: 20px;
  margin: 5% 0;
}

.regForget {
  font-size: 40%;
  text-decoration: black;
}

.regButton {
  background: rgb(8, 6, 102);
  border-radius: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 70%;
}

/* .card {
  background-image: url("./assets/card.jpg");
  display: inline-block;
  padding: 20% 20%;
} */
